<% provide(:title, 'New item') %>
<h1>Create new product</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>
	  <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :item_type %>
	  
	  

      <%= f.select :item_type, options_for_select([["Product", "Product"], ["Service", "Service"]])%>

	  <%= f.label :price %>
      <%= f.text_field :price %>
	  
      <%= f.submit "Create new product", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

